html,
body {
  margin: 0px;
  background: #333;
  color: #fff;
}

#editor {
  margin: auto;
  text-align: center;
  border: 3px solid rgb(109, 109, 109);
  width: fit-content;
}

#panel {
  margin: auto;
  padding: 12px;
  text-align: center;
}

button {
  background-color: #999;
  color: #fff;
  text-decoration: none;
  border: none;
  font-weight: bold;
}